.list {
    list-style: none;
}
.link  {
    text-decoration: none;
}
.logo-web {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 800; 
    font-size: 18px;
    line-height: 24px;
    display: flex; 
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo-studio {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.list {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.contact-mail {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-phone-number {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.main-headline {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    /*color: #FFFFFF;*/
}

.modal-btn {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    /*color: #FFFFFF;*/
    background: rgba(77, 90, 229, 1);
}

.modal-btn:hover {
    background: rgba(64, 75, 191, 1);
    cursor: pointer;
}

.headline-list {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.list-about-us {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team-headline {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.name-emp {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.job-tittle {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
}
.footer-text {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    /*color: #E7E9FC;*/
}
.logo-studio-footer {
    font-family: 'Raleway', 'sans-serif';
    font-size: 18px;
    font-weight: 800;
    line-height: 0.85;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #F4F4FD;
}

/* for portfolio*/

.modal-btn-list {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
}

.modal-btn-list:hover{
    color: #FFFFFF;
    background: #404BBF;
    cursor: pointer;
}